#Headzer{
    background-color: skyblue;
    width: 100%;
    height: 50px;
}

.MenuButton{
    border:  0px;
    background-color: skyblue;
    margin: 7px;
    float: right;
}

#LogoButton{
    color: white;
    height: 100%;
    border: 0px;
    background-color: skyblue;
    font-size: 150%;
}

#DivMenu{
    background-color: skyblue;
    width: 120px;
    height: 50px;
    position: fixed;
    right: 60px;
    top: 8px;
}

#MainZone{
    background-color: skyblue;
    width: 60%;
    height: 50px;
    position: fixed;
    top: 130px;
    left: 20%;
    right: 20%;
}

#footer {
    position: fixed;
    left: 0; bottom: 0; right: 0; /* Левый нижний угол */
    padding: 5px; /* Поля вокруг текста */
    background: skyblue; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }

.ButtonClick1{
    border:  0px;
    background-color: skyblue;
    margin: 7px;
}

#B1
{
    float: left;
}
#B2
{
    position: fixed;
    left: 38%;
}
#B3
{
    position: fixed;
    right: 38%
}
#B4
{
    float: right;
    right: 0%;
}
#ClassButton1{
    background-color: skyblue;
    width: 100%;
    height: 55px;
}
#TextHelp{
    background-color: white;
    float: left;
    width: 100%;
    height: 50px;
}

#TextMain{
    color: skyblue;
}
#downloadZone{
    background-color: skyblue;
    width: 60%;
    height: 50px;
    position: fixed;
    top: 130px;
    left: 20%;
    right: 20%;
}
#DownloadForWindows{
    float: left;
    border:  0px;
    background-color: skyblue;
    margin: 7px
}
#ForWindowsText{
    color: white;
    padding: 0px;   
}
a{
    text-decoration: none;
}
#EyeZone{
    background-color: white;
    height: 100px;
    position: fixed;
    top: 130px;
    left: 20%;
    right: 20%;
}
#EyeOjcOne{
    float: left;
    color: white;
    background-color: skyblue;
    border: 2px solid deepskyblue;
}
#EyeOjcOne{
    float: left;
    color: white;
    background-color: skyblue;
    border: 2px solid deepskyblue;
}
#EyeOjcTwo{
    float: right;
    color: white;
    background-color: skyblue;
    border: 2px solid deepskyblue;
}
#GoEye{
    position: fixed;
    bottom: 10px;
    right: 20%;
    padding: 5px;
    border: 2px solid deepskyblue;
}
#EyeImgBlue{
    position: fixed;
    left: 47.5%;
    bottom: 10px;
    padding: 5px;
}
#EyeImgBrown{
    position: fixed;
    left: 20%;
    bottom: 10px;
    padding: 5px;
}
.EyeButton{
    border:  0px;
    background-color: white;
    margin: 7px;
}
#EyeImgGreen{
    float: right;
    position: fixed;
    right: 20%;
    bottom: 10px;
    padding: 5px;
}
.EyeTextOtvet{
    color: skyblue;
}
#BackEye{
    position: fixed;
    left: 20%;
    bottom: 10px;
    padding: 5px;
    border: 2px solid deepskyblue;
}
/*#ClassButton2{
    background-color: skyblue;
    width: 100%;
    height: 55px;
}*/
