#Color4{
    background-color: rgb(52, 173, 36);
}

.Block{
    height: 200px;
    width: 200px;
    background-color: #1d96db;
    border: 0px;
}

#h1F{
    color: rgba(250, 250, 250, 0.93);
}

.Down :hover{
    background-color: rgba(33, 167, 0, 0.582);
}